@page "/about"

<h3>About</h3>

<p>
    VLM Demo is an SPA written using Blazor WebAssembly and hosted on Azure Blob Storage. It simulates 3-dimensional air flow around an airfoil with the
    <a href="https://en.wikipedia.org/wiki/Vortex_lattice_method" target="_blank">Vortex lattice method <span class="oi oi-external-link" aria-hidden="true"></span></a>,
    and outputs the coefficients of lift (CL), induced drag (CDi), and moment (CM) as well as a graphic indicating the force vectors on the wing.
    The <a href="https://github.com/Siim-Alas/VLM-demo" target="_blank">source code <span class="oi oi-external-link" aria-hidden="true"></span></a> is hosted on GitHub.
</p>

@code {

}
